* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.dashboard {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #f6f9fc, #e9f1ff);
}


.sidebar {
  width: 240px;
  background: #111827;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.menu {
  list-style: none;
}

.menu li {
  margin-bottom: 15px;
}

.menu a {
  text-decoration: none;
  color: #cbd5e1;
  padding: 10px;
  display: block;
  border-radius: 8px;
  transition: 0.3s;
}

.menu a:hover {
  background: #1f2937;
  color: white;
}

.menu a.active {
  background: #2563eb;
  color: white;
}


.logout-btn {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #ef4444;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #dc2626;
}



.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.user {
  font-weight: bold;
}

.content {
  padding: 30px;
}