.dashboard {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}


.sidebar {
  width: 230px;
  background: #2d3748;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 30px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 12px 0;
  cursor: pointer;
  transition: 0.3s;
}

.menu li:hover {
  color: #90cdf4;
}

.logout-btn {
  margin-top: auto;
  padding: 10px;
  border: none;
  background: #e53e3e;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #c53030;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.topbar {
  background: white;
  padding: 15px 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  justify-content: flex-end;
}


.content {
  padding: 25px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}