* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}


.dashboard {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}


.sidebar {
  width: 250px;
  background: #1e293b;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.menu {
  list-style: none;
  flex: 1;
}

.menu li {
  margin-bottom: 15px;
}

.menu a {
  text-decoration: none;
  color: #cbd5e1;
  padding: 10px 15px;
  display: block;
  border-radius: 8px;
  transition: 0.3s;
}

.menu a:hover {
  background: #334155;
  color: white;
}


.menu a.active {
  background: #3b82f6;
  color: white;
}


.logout-btn {
  padding: 10px;
  border: none;
  background: #ef4444;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #dc2626;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.topbar {
  height: 60px;
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.user {
  font-weight: 600;
}


.content {
  padding: 25px;
  overflow-y: auto;
}


.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background: #3b82f6;
  color: white;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  font-weight: 600;
}

tbody tr {
  border-bottom: 1px solid #eee;
  transition: 0.2s;
}

tbody tr:hover {
  background: #f1f5f9;
}

.products-title,
.users-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}


.product-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}


.description {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.password {
  font-family: monospace;
  color: #64748b;
}